In [1]:
#5-1
import pandas as pd

In [2]:
#5-2
url_path = 'https://raw.githubusercontent.com/perceptrontechnology/sukkiri-ml-codes/main/datafiles/'
file_name = 'ex2.csv'
csv_file_name = f'{url_path}{file_name}'
df = pd.read_csv(csv_file_name)
df.head(3)

         x0        x1        x2        x3  target
0 -1.244674  1.452124 -1.184385 -0.839169       1
1 -1.662920 -0.375804 -0.956673  0.380114       0
2 -1.926513       NaN -1.203904 -0.728801       1

In [3]:
#5-3
df.shape

(100, 5)

In [4]:
df['target']

0     1
1     0
2     1
3     0
4     1
     ..
95    1
96    1
97    1
98    1
99    1
Name: target, Length: 100, dtype: int64

In [5]:
#5-5
df.isnull()

       x0     x1     x2     x3  target
0   False  False  False  False   False
1   False  False  False  False   False
2   False   True  False  False   False
3   False  False  False  False   False
4   False  False  False  False   False
..    ...    ...    ...    ...     ...
95  False  False  False  False   False
96  False  False  False  False   False
97  False  False  False  False   False
98  False  False  False  False   False
99  False  False  False  False   False

[100 rows x 5 columns]

In [6]:
df.isnull().sum()

x0        0
x1        1
x2        1
x3        0
target    0
dtype: int64