In [2]:
# ColabVerison collect change private to public
import pandas as pd # pandasのインポート
# irisファイルを読み込んで、データフレームに変換
# df = pd.read_csv('iris.csv')
url_path = 'https://raw.githubusercontent.com/perceptrontechnology/sukkiri-ml-codes/main/datafiles/'
file_name = 'iris.csv'
csv_file_name = f'{url_path}{file_name}'
df = pd.read_csv(csv_file_name)
# df = pd.read_csv('https://raw.githubusercontent.com/perceptrontechnology/sukkiri-ml-codes/main/datafiles/iris.csv')
# df2 = pd.read_csv('https://raw.githubusercontent.com/perceptrontechnology/sukkiri-ml-codes/main/datafiles/KvsT.csv')
df.head(3)# 上位3件の表示

   がく片長さ  がく片幅  花弁長さ   花弁幅           種類
0   0.22  0.63  0.08  0.04  Iris-setosa
1   0.17  0.42  0.35  0.04  Iris-setosa
2   0.11  0.50  0.13  0.04  Iris-setosa

In [3]:
df['種類'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [4]:
syurui = df['種類'].unique()
syurui[0]

'Iris-setosa'

In [5]:
df['種類'].value_counts()

種類
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [6]:
df.tail(3)#末尾3件の表示

     がく片長さ  がく片幅  花弁長さ   花弁幅              種類
147   0.61  0.42   NaN  0.79  Iris-virginica
148   0.53  0.58  0.63  0.92  Iris-virginica
149   0.44  0.42  0.41  0.71  Iris-virginica

In [7]:
df.isnull()#各マスが欠損値かどうか調べる

     がく片長さ   がく片幅   花弁長さ    花弁幅     種類
0    False  False  False  False  False
1    False  False  False  False  False
2    False  False  False  False  False
3    False  False  False  False  False
4    False  False  False  False  False
..     ...    ...    ...    ...    ...
145  False  False  False  False  False
146  False  False  False  False  False
147  False  False   True  False  False
148  False  False  False  False  False
149  False  False  False  False  False

[150 rows x 5 columns]

In [8]:
#列単位で欠損値が存在するか調べる
df.isnull().any(axis=0)

がく片長さ     True
がく片幅      True
花弁長さ      True
花弁幅       True
種類       False
dtype: bool

In [9]:
df.sum() # 各列の合計値を計算

がく片長さ                                                62.29
がく片幅                                                 65.62
花弁長さ                                                 72.04
花弁幅                                                  66.22
種類       Iris-setosaIris-setosaIris-setosaIris-setosaIr...
dtype: object

In [10]:
# 各列に欠損値がいくつあるか集計
tmp = df.isnull()
tmp.sum()

がく片長さ    2
がく片幅     1
花弁長さ     2
花弁幅      2
種類       0
dtype: int64

In [11]:
# 欠損値が1つでもある行を削除した結果を、df2に代入
df2 = df.dropna(how = 'any', axis = 0)

df2.tail(3) # 欠損値の存在確認

     がく片長さ  がく片幅  花弁長さ   花弁幅              種類
146   0.56  0.21  0.69  0.46  Iris-virginica
148   0.53  0.58  0.63  0.92  Iris-virginica
149   0.44  0.42  0.41  0.71  Iris-virginica

In [12]:
df.isnull().any(axis = 0)

がく片長さ     True
がく片幅      True
花弁長さ      True
花弁幅       True
種類       False
dtype: bool

In [13]:
df['花弁長さ'] = df['花弁長さ'].fillna(0)
df.tail(3)

     がく片長さ  がく片幅  花弁長さ   花弁幅              種類
147   0.61  0.42  0.00  0.79  Iris-virginica
148   0.53  0.58  0.63  0.92  Iris-virginica
149   0.44  0.42  0.41  0.71  Iris-virginica

In [ ]:
#数値列の各平均値を計算（文字列の列は自動的に除外してくれる）→　除外してくれません
df.mean(numeric_only=True) # numeric_only = True は、必須

がく片長さ    0.420878
がく片幅     0.440403
花弁長さ     0.480267
花弁幅      0.447432
dtype: float64

In [16]:
#がく片長さ列の平均値を計算
df['がく片長さ'].mean()

np.float64(0.42087837837837844)

In [ ]:
# df.std() # 各列の標準偏差
df.std(numeric_only=True) # numeric_only = True は、必須

がく片長さ    0.228910
がく片幅     0.181137
花弁長さ     0.236909
花弁幅      0.309960
dtype: float64

In [ ]:
df = pd.read_csv(csv_file_name)

# 各列の平均値を計算して、colmeanに代入
colmean = df.mean(numeric_only=True) # numeric_only = True は、必須

# 平均値で欠損値を穴埋めしてdf2に代入
df2 = df.fillna(colmean)
# 欠損値があるか確認
df2.isnull().any(axis = 0)

がく片長さ    False
がく片幅     False
花弁長さ     False
花弁幅      False
種類       False
dtype: bool

In [22]:
xcol = ['がく片長さ', 'がく片幅', '花弁長さ', '花弁幅']

x = df2[xcol]
t = df2['種類']

In [23]:
# 関数のインポート
from sklearn import tree
# モデルの作成
model = tree.DecisionTreeClassifier(max_depth = 2,
                                    random_state=0)

In [24]:
model.fit(x, t) # モデルの学習
model.score(x, t) # 学習済みモデルの正解率計算

0.94

In [25]:
# 関数のインポート
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, t,
    test_size = 0.3, random_state = 0)

#x_train,y_trainが学習に利用する訓練
#x_test,y_testが検証に利用するテストデータ

In [26]:
print(x_train.shape) # x_trainの行数・列数を表示
print(x_test.shape) # x_test　の行数・列数を表示

(105, 4)
(45, 4)

In [27]:
# 訓練データで再学習
model.fit(x_train, y_train)

# テストデータの予測結果と実際の答えが合致する正解率を計算
model.score(x_test, y_test)

0.9555555555555556

In [31]:
import pickle
with open('irismodel.pkl', 'wb') as f:
    pickle.dump(model, f)
# 追記
import os
print(os.getcwd())

/content

In [32]:
# 追記
import pickle
from pathlib import Path

# 保存したいディレクトリを指定（例: 現在のスクリプトと同じ場所にある 'models' フォルダ）
# parents=True, exist_ok=True でフォルダがなければ作成します
save_dir = Path('./models')
save_dir.mkdir(parents=True, exist_ok=True)

file_path = save_dir / 'irismodel.pkl'

with open(file_path, 'wb') as f:
    pickle.dump(model, f)

print(f"モデルを保存しました: {file_path.resolve()}")

モデルを保存しました: /content/models/irismodel.pkl

In [ ]:
# 追記　→　ファイル取り出しは、不可能、ファイルの読み込みや再利用は可能
import requests
import os

# ファイルパス（前回の設定を引き継ぎ）
file_path = '/content/models/irismodel.pkl'

# ファイルが存在するか確認
if os.path.exists(file_path):
    print(f"ファイルをアップロードしています... ({file_path})")
    
    try:
        with open(file_path, 'rb') as f:
            # transfer.sh にPUTリクエストでファイルを送信
            response = requests.put(f'https://transfer.sh/irismodel.pkl', data=f)
            
        if response.status_code == 200:
            # レスポンスのテキスト（URL）を取得して表示
            download_url = response.text.strip()
            print("\n成功しました！以下のURLからダウンロードしてください：")
            print("--------------------------------------------------")
            print(download_url)
            print("--------------------------------------------------")
        else:
            print(f"アップロードに失敗しました。ステータスコード: {response.status_code}")
            print(response.text)
            
    except Exception as e:
        print(f"エラーが発生しました: {e}")

else:
    print(f"エラー: ファイルが見つかりません -> {file_path}")
    # 念のためカレントディレクトリの中身を表示
    print("現在のフォルダ内のファイル:", os.listdir('.'))

ファイルをアップロードしています... (/content/models/irismodel.pkl)
エラーが発生しました: HTTPSConnectionPool(host='transfer.sh', port=443): Max retries exceeded with url: /irismodel.pkl (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7c338dcf39e0>: Failed to establish a new connection: [Errno 101] Network is unreachable'))

In [29]:
model.tree_.feature

array([ 3, -2,  3, -2, -2], dtype=int64)

In [30]:
model.tree_.threshold

array([ 0.275, -2.   ,  0.69 , -2.   , -2.   ])

In [ ]:
# ノード番号1、3、4に到達したアヤメの種類ごとの数
print(model.tree_.value[1]) # ノード番号1に到達したとき
print(model.tree_.value[3]) # ノード番号3に到達したとき
print(model.tree_.value[4]) # ノード番号4に到達したとき

In [ ]:
model.classes_

In [ ]:
# 描画関数の仕様上、和名の特徴量を英字に直す
x_train.columns = ['gaku_nagasa', 'gaku_haba',
'kaben_nagasa','kaben_haba']
# 描画関数の利用
from sklearn.tree import plot_tree
# plot_tree関数で決定木を描画
plot_tree(model, feature_names = x_train.columns,
filled = True)

# 練習問題

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('ex2.csv')
df.head(3)

In [ ]:
df.shape

In [ ]:
df["target"].value_counts()

In [ ]:
df.isnull().sum()

In [ ]:
df2 = df.fillna(df.median())

In [ ]:
xcol=['x0','x1','x2','x3']
x = df2[xcol]
t =df2['target']

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, t,
    test_size = 0.2, random_state = 0)

In [ ]:
from sklearn import tree
model = tree.DecisionTreeClassifier(max_depth = 3,
    random_state = 0)
model.fit(x_train, y_train)

In [ ]:
model.score(x_test, y_test)

In [ ]:
newdata = [[1.56,0.23, -1.1,2.8]]

answer = model.predict(newdata)
answer