In [1]:
import pandas as pd
url_path = 'https://raw.githubusercontent.com/perceptrontechnology/sukkiri-ml-codes/main/datafiles/'
file_name = 'cinema.csv'
csv_file_name = f'{url_path}{file_name}'
df = pd.read_csv(csv_file_name)
df.head(3) # 先頭3行の中身を表示

   cinema_id   SNS1  SNS2         actor  original  sales
0       1375  291.0  1044   8808.994029         0   9731
1       1000  363.0   568  10290.709370         1  10210
2       1390  158.0   431   6340.388534         1   8227

In [2]:
df.info

<bound method DataFrame.info of     cinema_id   SNS1  SNS2         actor  original  sales
0        1375  291.0  1044   8808.994029         0   9731
1        1000  363.0   568  10290.709370         1  10210
2        1390  158.0   431   6340.388534         1   8227
3        1499  261.0   578   8250.485081         0   9658
4        1164  209.0   683  10908.539550         0   9286
..        ...    ...   ...           ...       ...    ...
95       1260  494.0  1050  11137.482810         1  10537
96       1283  505.0   928  11376.038540         1  10084
97       1861  368.0   966  10393.252480         0  10069
98       1006  326.0  1068   9454.019853         1  10218
99       1764  402.0   153  11144.482970         1  10435

[100 rows x 6 columns]>

In [ ]:
df.